body {
    background-image: url("https://media.dnd.wizards.com/styles/media_resources/public/dnd_background_overlay2.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', cursive;
   }

.jumbotron{
    height: 740px;
    width: 700px;
    margin-top:40px;
    margin-left: 200px;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-4{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pirata One', cursive;
    text-align: center;
}

.crit{
    height: 200px;
    width: 200px;
    padding: 20px;
}

 #dex-skills {
     position: center;
     float: left;
 }

 .btn{
     background-color: #121f1f;
 }

 .card{
    background-color:#253f3f;
}

 .saving-throw {
     color:#96bc96;
 }

.inv-card {
    float: right;
}

